*{
	margin-left:0;
	margin-top: 0;
	margin-right: 0;
}

header{
	width:100%;
	background: url('imagenes/header.png');
}

header h1{
	color: white;
	display: inline-block;
	left: 1%;
	vertical-align: middle;
	font-weight: 5vw;
	font-size: 5vh;
}

header img{
	display: inline-block;
	width: 5%;
	height: 5%;
	margin-left: 5%;
	vertical-align: middle;
	max-width: 50px;
	max-height: 50px;
	min-width: 30px;
	min-height:30px;
}

#infoContainer{
	display: inline-block;
	margin-left: 5%;
	width: 40%;
	height: 60%;
}

section #infoContainer h2{
	vertical-align: middle;
	color: #FB09AB;
	font-weight: 900;
	margin-bottom: 3%;
	margin-top: 1.5%;
	font-weight: 4vw;
	font-size: 4vh;
}

section #infoContainer h3{
	vertical-align: middle;
	font-weight: 900;
	margin-bottom: 1.3%;
	margin-top: 1.5%;
	font-weight: 3.5vw;
	font-size: 3.5vh;
	margin-bottom: 3%;
}

section #infoContainer img{
	display: inline-block;
	width: 5%;
	height: 4%;
	vertical-align: middle;
	max-width: 50px;
	max-height: 50px;
	min-width: 20px;
	min-height:20px;
	float: left;
}

section #infoContainer #titulo_dir{
	margin-left: 7%;
	vertical-align: middle;
	color: #5F5C5E;
	font-weight: 3.0vw;
	font-size: 3.0vh;
	margin-bottom: 0.5%;
}

section #infoContainer #titulo_tel{
	vertical-align: middle;
	color: #5F5C5E;
	font-weight: 3.0vw;
	font-size: 3.0vh;
	margin-bottom: 0.5%;
	margin-left: 7%;
	margin-top: 2%;
}

section #infoContainer p{
	margin-top: -1%;
	text-align: :justify;
	color: #5F5C5E;
	font-weight: 2.5vw;
	font-size: 2.5vh;
	margin-bottom: 0.5%;
	margin-left: 7%;
	margin-right: 4%;
}
#contenedorMap{
	width: 50%;
    height: 50%;
	margin-right:5%;
	margin-top: 5%;
	float: right;
}
#mapdiv {
        width: 95%;
        height: 95%;
        border-style: solid;
    	border-color: black;
    }


footer{
	position: absolute;
	bottom: 0;
	margin: 0;
}